<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/"><b>Acebook</b></a>
  <div id="navbarNav">
    <ul class="navbar-nav">
      {{#if logged_in}}
        <li>
          <a class="nav-link" href="/">Log out</a>
        </li>
      {{else}}
        <li>
          <a class="nav-link" href="/">Log in</a>
        </li>
      <li>
        <a class="nav-link" href="/sign_up">Sign up</a>
      </li>
      {{/if}}
    </ul>
    {{#if logged_in}}
      Welcome {{user}}
    {{/if}}
  </div>
</nav>
