<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="/posts" id="brand-name"><b>Acebook</b></a>
  <div id="navbarNav">
    <ul class="navbar-nav">
      {{#if logged_in}}
      <li>
        <a class="nav-link" href="/">Log out</a>
      </li>
      {{else}}
        <li>
          <a class="nav-link" href="/">Log in</a>
        </li>
      <li>
        <a class="nav-link" href="/sign_up">Sign up</a>
      </li>
      {{/if}}
    {{#if logged_in}}
    <span class="navbar-text" id="welcome-user">
      Welcome {{user}}
    </span>
    {{/if}}
  </li>
  </ul>
  </div>
</nav>
