
<div class="card">
  <div class="card-body">
    <form action="/posts/{{post_id}}/comments" method="POST">
      <h3 class="card-title">Write a new comment</h3>
      <input type="text" name="message" required>
      <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
  </div>
</div>
