<!DOCTYPE html>
<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css" crossorigin="anonymous">

  <title>{{title}}</title>
</head>
<body>
  {{> header}}
  <div>{{{body}}}</div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  {{> footer}}
</body>
</html>
