<br/>
<br/>
<br/>
<div class="row justify-content-center">
  {{!-- <div style="border: 4px solid green;"> --}}
  <div class="col-10">
</div>
<div class="card">
  <div class="card-body">
    <form action="/sign_in" method="POST">
      <h3 class="card-title">Login </h3>
      <p class="card-text">Username

      <input type="email" id="exampleDropdownFormEmail1" name="username"></p>
      <div class="invalid-feedback">
               Please enter a valid username.
             </div>
      <p class="card-text">Password
      <input type="password" id="exampleDropdownFormPassword1" name="password"></p>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
  <div class="dropdown-divider"></div>
  <a href="#" class="card-link">New user? Click here to sign up here</a>
</div>
